@using SchoolWebApp.DTO
@model IEnumerable<SubjectDTO>
<h1>List of subjects</h1>
@if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("teacher"))) {
            <a class="btn btn-success my-2" asp-action="Create">+ Add subject</a>
}
<hr/>
@foreach (var subject in Model) {
            <div class="border border-dark p-2 d-flex justify-content-between rounded bg-light my-2">
                <h5 class="d-inline-block">@subject.Name</h5>

        @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("teacher"))) {
                <div class="ml-auto">
            <a class="btn btn-warning d-inline-block ml-auto" asp-action="Update" asp-route-id="@subject.Id">Edit</a>
                <form method="post" class="d-inline-block">
                    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@subject.Id">Delete</button>
                </form>   
                        </div>
        }
            </div>
}