@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<p>This web app is build in ASP .NET Core.</p>
<p>This is school web app, where you can login as a teacher, parent or admin.</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">ADMIN can edit users, subjects, roles and grades.</h5>
    </div>
      <small>username: admin</small><br />
      <small>password: 123Abc* </small>
  </li>

  <li class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">TEACHERS edit students, grades and subjects.</h5>
    </div>
      <small>username: John</small><br />
      <small>password: 123Abc* </small>
  </li>
  <li class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">PARENTS can see grades of all students.</h5>
    </div>
      <small>username: Miriam</small><br />
      <small>password: 123Abc* </small>
  </li>
</ul>

